# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# ======================
# Home Assistant
# ======================
.storage/
*.log
*.db
*.sqlite
home-assistant.log*
secrets.yaml

# ======================
# Frontend / JS
# ======================
node_modules/
dist/
build/
*.map

# ======================
# OS / Editor
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ======================
# Temp / Backup
# ======================
*.tmp
*.bak
*.swp
*.old
